:root {
  --white-color: #ffffff;
  --primary-bg-color: #0f234c;
  --secondary-bg-color: #f2f2f2;
  --hover-bg-color: #ecf3ff;
  --text-color: #0f234c;
  --link-text-color: #3057a7;
  --text-font: "Merriweather Sans", serif;
  --title-text-font: "Roboto", serif;
  --subtitle-text-font: "Roboto Condensed", serif;
  --font-size-xs: 10px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 100%;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 21px;
  color: var(--text-color);
  font-weight: 300;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: rgba(0, 0, 0, 0.1);
}

a,
button {
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  border: none;
  outline: none;
  color: inherit;
  background: none;
}

img,
svg,
picture,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-underline-offset: 4px;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--title-text-font);
  font-weight: 500;
  text-wrap: pretty;
}

.h2 {
  font-size: 20px;
  line-height: 32px;
}

.h3 {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}

.h4 {
  font-size: 14px;
  line-height: 22px;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-wrap: pretty;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.announcement-bar {
  display: none;
}
.hidden {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo-wrap {
  background: var(--white-color);
  padding: 0 20px;
  display: flex;
  align-items: center;
  padding: 18px 20px;
  justify-content: space-between;
}

.hamburger-menu {
  position: relative;
  width: 22px;
  height: 16px;
}

.hamburger-menu span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--primary-bg-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all ease-in-out;
}

.hamburger-menu span:nth-child(1) {
  top: 0;
}

.hamburger-menu span:nth-child(3) {
  top: 100%;
}

.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.logo {
  font-family: "Inter", serif;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

.main-menu {
  background: var(--white-color);
  position: fixed;
  top: 58px;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: 0.3s all ease-in-out;
  overflow-y: scroll;
  padding: 44px 20px 0;
}

.main-menu.active {
  left: 0;
}

.title-wrap {
  display: flex;
  justify-content: space-between;
}

.title-wrap .link-text {
  color: var(--link-text-color);
  font-size: 14px;
  line-height: 21px;
  text-decoration: underline;
  font-weight: 400;
}

.header {
  position: sticky;
  top: 0;
}

.menu-list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
  font-weight: 400;
  padding: 10px 0;
  border-bottom: 1px solid #ecf3ff;
}

.menu-list-link .badge {
  display: none;
}

.menu-list .menu-list-item:last-child .menu-list-link {
  border-bottom: none;
}

.menu-list-link:hover {
  color: var(--link-text-color);
}

.menu-list-link .right-arrow {
  margin-right: 8px;
  transition: 0.3s all ease-in-out;
}

.menu-list-link:hover .right-arrow {
  margin-right: 0;
}

.main-menu .featured-product-section {
  margin-bottom: 20px;
}

.dropdown-menu {
  background: var(--white-color);
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  transition: 0.3s all ease-in-out;
  overflow-y: scroll;
}

.title-wrap .h2 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 13px 20px;
}

.title-wrap .h2 span {
  line-height: 0;
}

.h2 .back-btn {
  margin-right: 23px;
}

.h2 .close-btn {
  margin-left: auto;
}

.menu-list-item.active .dropdown-menu {
  left: 0;
}

.dropdown-menu-list {
  padding: 0 20px;
  margin: 44px 0 32px;
}

.dropdown-menu-list li {
  margin-bottom: 16px;
}

.dropdown-menu-list a {
  font-size: var(--font-size-md);
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 0.1px;
  transition: 0.3s all ease-in-out;
}

.dropdown-menu-list a:hover {
  color: var(--link-text-color);
}

.dropdown-menu-list li:last-child a {
  font-size: var(--font-size-sm);
  line-height: 18px;
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
}

.dropdown-menu .featured-product-section,
.dropdown-menu .playbox-gifts-product-section {
  padding: 0 20px;
}

.main-menu .featured-product-carousel,
.product-carousel {
  margin-right: -20px;
}

.page-section {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-product-section .title-wrap {
  margin-bottom: 14px;
}

.featured-product-carousel .slick-slide,
.product-carousel .slick-slide,
.playbox-gifts-product-item {
  background: var(--secondary-bg-color);
  width: 130px;
  height: inherit;
  margin-right: 10px;
}

.featured-product-carousel .slick-slide img,
.product-carousel .slick-slide img {
  aspect-ratio: 16/18;
  object-fit: scale-down;
}

.featured-product-carousel .slick-slide > div,
.product-carousel .slick-slick > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.featured-product-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.featured-product-carousel .slick-track,
.product-carousel .slick-track {
  display: flex;
}

.featured-product-item-title {
  padding: 10px;
}

.featured-product-item-title small {
  font-size: 8px;
  line-height: 9px;
  color: #828282;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-weight: 700;
  margin-bottom: 2px;
}

.featured-product-item-title h3 {
  font-size: var(--font-size-sm);
  line-height: 16px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.playbox-tab-wrapper {
  min-width: 315px;
  padding: 0 20px;
  margin: 50px 0 25px;
}

.playbox-tab-wrapper > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.playbox-tab-wrapper .playbox-tab-panel {
  display: none;
}

#tab1:checked ~ .playbox-tab-panels #year-1,
#tab2:checked ~ .playbox-tab-panels #year-2 {
  display: block;
}

.playbox-tab-wrapper > label {
  font-family: var(--subtitle-text-font);
  font-size: 18px;
  line-height: 22px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.1px;
  position: relative;
  margin-right: 25px;
}

.playbox-tab-wrapper > label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: 2px solid transparent;
  transition: 0.3s all ease-in-out;
}

.playbox-tab-wrapper > label:hover,
.playbox-tab-wrapper > input:focus + label,
.playbox-tab-wrapper > input:checked + label {
  color: var(--link-text-color);
  font-style: normal;
  transition: 0.3s all ease-in-out;
}

.playbox-tab-wrapper > label:hover,
.playbox-tab-wrapper > input:focus + label,
.playbox-tab-wrapper > input:checked + label {
  color: var(--link-text-color);
  font-style: normal;
}

.playbox-tab-wrapper > label:hover::after,
.playbox-tab-wrapper > input:focus + label::after,
.playbox-tab-wrapper > input:checked + label::after {
  background: var(--link-text-color);
}

.playbox-tab-panels ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 308px;
  margin-top: 30px;
}

.playbox-tab-panels ul li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  flex: 33.33%;
  margin-bottom: 28px;
}

.playbox-tab-panels .icon-wrap {
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #eeedeb;
  align-items: center;
  justify-content: center;
  margin: 0 auto 6px;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.playbox-tab-panels .icon-wrap svg {
  transition: 0.3s all ease-in-out;
}

.playbox-tab-panels ul li:hover .icon-wrap {
  border: 1px solid var(--link-text-color);
}

.playbox-tab-panels ul li:hover .icon-wrap svg {
  transform: rotate(-10deg);
}

.playbox-tab-panels small {
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-style: italic;
  font-weight: 300;
  transition: 0.3s all ease-in-out;
}

.playbox-tab-panels ul li:hover small {
  color: var(--link-text-color);
}

.playbox-gifts-product {
  display: flex;
  align-items: self-start;
}

.playbox-gifts-product-item {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.playbox-gifts-product-item .featured-product-thumbnail {
  height: 148px;
}

.playbox-gifts-product-item img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.featured-product-item-title {
  min-height: 72px;
}

.playbox-gifts-product-item .price {
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: var(--link-text-color);
  font-style: italic;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }

  .row {
    flex-direction: row;
  }

}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

  .container {
    max-width: 1440px;
  }

  .h2 {
    font-size: 28px;
    line-height: 32px;
  }

  .h3 {
    font-size: 18px;
    line-height: 22px;
    font-style: italic;
  }

  .announcement-bar {
    background: var(--primary-bg-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.3s all ease-in-out;
    padding: 8px 20px;
  }

  .announcement-bar p {
    font-size: var(--font-size-sm);
    line-height: 21px;
    font-style: italic;
    letter-spacing: 0.2px;
    font-weight: 300;
  }

  .announcement-bar .close-btn {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    line-height: 0;
    cursor: pointer;
    border: none;
    background: none;
  }

  .logo {
    font-size: 30px;
  }

  .navbar {
    background: var(--white-color);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 37.5px;
  }

  .navbar-logo-wrap {
    padding: 0;
  }

  .logo {
    margin-right: 40px;
  }

  .hamburger-menu {
    display: none;
  }

  .main-menu > .featured-product-section {
    display: none;
  }

  .main-menu {
    position: inherit;
    padding: 0;
    width: auto;
    height: auto;
    overflow-y: initial;
  }

  .dropdown-menu {
    position: absolute;
    top: -100%;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    height: auto;
    transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .menu-list {
    display: flex;
  }

  .menu-list-item {
    padding: 18px 0;
    margin-right: 16px;
  }

  .has-badge {
    margin-right: 50px;
  }

  .menu-list-link {
    border: none;
    font-weight: 300;
    font-style: italic;
    line-height: 22px;
    padding: 4px 12px;
    border-radius: 100px;
    background: var(--color-white);
    transition: 0.3s all ease-in-out;
  }

  .menu-list-item:hover .menu-list-link {
    background: var(--hover-bg-color);
    color: var(--text-color);
  }

  .menu-list-link .right-arrow {
    display: none;
  }

  .has-badge .menu-list-link {
    position: relative;
  }

  .menu-list-item .badge {
    background: transparent;
    border-radius: 10px;
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: var(--link-text-color);
    padding: 0 8px;
    position: absolute;
    top: 3px;
    right: -30px;
  }

  .menu-list-item:hover .menu-list-link .badge {
    background: #ecf3ff;
  }

  .announcement-bar + .navbar .menu-list-item:hover .dropdown-menu,
  .announcement-bar + .navbar .menu-list .menu-list-item .dropdown-menu:hover {
    top: 103px;
  }

  .announcement-bar.hidden + .navbar .menu-list-item:hover .dropdown-menu,
  .announcement-bar.hidden
    + .navbar
    .menu-list
    .menu-list-item
    .dropdown-menu:hover {
    top: 66px;
  }

  .navbar .menu-list-item:hover .dropdown-menu,
  .navbar .menu-list .menu-list-item .dropdown-menu:hover {
    top: 74px;
    opacity: 1;
    visibility: visible;
  }

  .dropdown-menu-container {
    margin-left: 9%;
    padding: 50px 40px 74px 0;
  }

  .main-menu .featured-product-section {
    margin-bottom: 0;
  }

  .dropdown-menu-list {
    margin: 0;
  }

  .title-wrap {
    margin-bottom: 14px;
  }

  .title-wrap .h2 span {
    display: none;
  }

  .dropdown-menu-list li {
    margin-bottom: 24px;
  }

  .dropdown-menu-list a {
    font-size: var(--font-size-lg);
    font-style: italic;
    line-height: 27px;
  }

  .slick-arrow {
    position: absolute;
    top: -32px;
    right: 25px;
  }

  .slick-prev {
    top: -35px;
    transform: rotate(180deg);
  }

  .slick-next {
    right: 0;
  }

  .slick-arrow svg {
    fill: var(--primary-bg-color);
    transition: 0.3s all ease-in-out;
  }

  .slick-arrow.slick-disabled svg {
    fill: #f2f2f2;
  }

  .slick-arrow:hover svg {
    fill: var(--primary-bg-color);
  }

  .title-wrap .link-text {
    display: none;
  }

  .title-wrap .h2 {
    padding-top: 0;
  }

  .featured-product-item-title small {
    font-style: italic;
    font-weight: 300;
  }

  .featured-product-carousel .slick-slide,
  .product-carousel .slick-slide {
    width: 195px;
  }

  .featured-product-thumbnail {
    width: 100%;
    height: 220px;
  }

  .featured-product-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  .featured-product-item-title {
    padding: 13px 12px;
  }

  .featured-product-item-title h3 {
    font-size: var(--font-size-lg);
    line-height: 27px;
  }

  .has-badge .title-wrap .h2 {
    padding-top: 0;
  }

  .playbox-content-wrapper {
    display: flex;
    align-items: flex-start;
  }

  .playbox-tab-wrapper {
    margin: 0;
  }

  .playbox-gifts-product-section {
    margin-left: 140px;
  }

  .playbox-gifts-product-item {
    width: 195px;
  }

  .playbox-gifts-product-item .featured-product-thumbnail {
    height: 222px;
  }

  .playbox-gifts-product-item .featured-product-item-title {
    padding: 24px 26px;
  }

  .featured-product-carousel .slick-slide,
  .product-carousel .slick-slide .playbox-gifts-product-item {
    margin-right: 14px;
  }
}
